POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
#: Para uso local 
# DATABASE_HOST=localhost
#: Para uso no docker. Aponta para o service "db"
DATABASE_HOST=db
SECRET_KEY=
API_KEY_BRAPI=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
